[submodule "sw-gui"]
	path = sw-gui
	url = ../usbscope-sw-app.git
[submodule "hw-kicad"]
	path = hw-kicad
	url = ../kicad-usbadc-a7m195xx.git
	branch = trion_v3_3
[submodule "fw-hdl"]
	path = fw-hdl
	url = ../usbscope-trion.git
